<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <title>Guide</title>
        <meta charset="UFT-8">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/controlButton.css')}}">
    </head>
    <style>
        #dialog{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 150px;
            text-align: center;
            width: 100%;
            font-size: 30px;
        }
        #continue:hover{
            background-color: rgb(100, 0, 100);
        }
        #quit:hover{
            background-color: rgb(196, 0, 0);
        }
    </style>
    <body>
        <p id="dialog"></p>
        <div id="control-rack">
            <span><button class="control-button" id="quit" onclick="quit();">退出遊戲</button></span>
            <span><button class="control-button" id="continue" onclick="start('question');">繼續</button></span>
        </div>
        <script src="{{url_for('static', filename = 'js/controller.js')}}"></script>
        <script>
            let contentOfDialog = '編碼員，全球數據正處於坍塌邊緣，請立即輸入 15 組『東方坐標』常量以重啟文明底層邏輯。';
            const lengthOfContentOfDialog = contentOfDialog.length;
            const dialog = document.getElementById('dialog');
            let i = 0;
            let blinkinterval = 100; // ms
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            async function typeDialog(){
                for (i = 0; i < lengthOfContentOfDialog; i++){
                    let blinkTimes = Math.round(Math.random() * 3);
                    for (let t = 0; t < blinkTimes; t++){
                        dialog.innerHTML += '|';
                        await sleep(blinkinterval);
                        dialog.innerHTML = dialog.innerHTML.replace('|', '');
                        await sleep(blinkinterval);
                    }
                    dialog.innerHTML += contentOfDialog[i] + '|';
                    dialog.innerHTML = dialog.innerHTML.replace('|', '');
                }
            }
            // main
            typeDialog();
        </script>
    </body>
</html>
