<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <title>Guide</title>
        <meta charset="UFT-8">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/controlButton.css')}}">
    </head>
    <style>
        #dialog{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 150px;
            text-align: center;
            width: 100%;
            font-size: 30px;
        }
        #continue:hover{
            background-color: rgb(100, 0, 100);
        }
        #quit:hover{
            background-color: rgb(196, 0, 0);
        }
    </style>
    <body>
        <p id="dialog"></p>
        <div id="control-rack">
            <span><button class="control-button" id="quit" onclick="quit();">退出遊戲</button></span>
            <span><button class="control-button" id="continue" onclick="start('question');">繼續</button></span>
        </div>
        <script src="{{url_for('static', filename = 'js/controller.js')}}"></script>
        <script>
            let contentOfDialog = '公元 2126 年\n人類文明進入了「後數位時代」。五十年前，一場名為「大沈默」的全球性電腦病毒抹除了人類文明 21 世紀 80% 的歷史紀錄。\n現在的地球，社會運行的底層邏輯（演算法）正處於崩潰邊緣。科學家發現，要重新穩定全球資源分配系統，必須找回 21 世紀初最關鍵的*「文明常量」*。\n⚠️ 危機：數據坍塌\n人類最繁榮時期的數據庫——「東方坐標」，目前正處於嚴重損壞狀態。如果無法在 15 分鐘內輸入正確的 15 組「發展邏輯數據」，全球物聯網將永久鎖定，人類將倒退回蒸汽時代。\n👤 你的角色：【文明編碼員】 (The Data Architect)\n你不是在玩遊戲，你是一位被選中的文明編碼員。\n你剛剛連線進入了 21 世紀 20 年代的虛擬殘留空間。你的任務是透過 15 個關鍵節點，解鎖被加密的歷史數據。\n🛡️ 任務指令 (The Mission Orders)\n> 「數字不是冰冷的，它是支撐文明運作的鋼筋。」\n> \n * 層次掃描： 系統將分三個難度階層進行數據恢復。\n * 邏輯校準： 你輸入的每一個正確數字，都在重新校準 2126 年的全球電力、糧食與交通網絡。\n * 零誤差要求： 數據一旦輸入錯誤，文明重建的進度將會倒退。\n🛠️ 玩家為什麼必須贏？（使命感來源）\n * 修復電力（綠色發展）： 當你答對第 12 題（清潔能源），2126 年的城市電力供應將恢復穩定。\n * 重啟物流（港口與製造）： 當你答對第 11 題與第 14 題，漂浮在海上的自動貨輪將重新找到航向。\n * 消除飢荒（糧食數據）： 第 4 題的正確數據是重啟全球自動化農場的唯一密鑰。\n * 連接世界（5G 與高鐵）： 你答對的每一道基建題，都在修復未來人類被切斷的通訊鏈路。\n📢 系統提示音：\n「編碼員，偵測到文明遺產的信號非常微弱。數據通道已開啟，請在系統完全坍塌前，重新輸入『東方坐標』的 15 組文明常量。」\n「任務開始。祝你好運，為了人類的明天。」
';
            const lengthOfContentOfDialog = contentOfDialog.length;
            const dialog = document.getElementById('dialog');
            let i = 0;
            let blinkinterval = 100; // ms
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            async function typeDialog(){
                for (i = 0; i < lengthOfContentOfDialog; i++){
                    let blinkTimes = Math.round(Math.random() * 3);
                    for (let t = 0; t < blinkTimes; t++){
                        dialog.innerHTML += '|';
                        await sleep(blinkinterval);
                        dialog.innerHTML = dialog.innerHTML.replace('|', '');
                        await sleep(blinkinterval);
                    }
                    dialog.innerHTML += contentOfDialog[i] + '|';
                    dialog.innerHTML = dialog.innerHTML.replace('|', '');
                }
            }
            // main
            typeDialog();
        </script>
    </body>
</html>
